*{
    outline: solid black 1px;
}
h1, h2 {
    display: inline-block;
    background-color: cyan;
    width: 200px;
}

label, input{
    display: block;
}

p {
  display: inline-block;
  width: 160px;
  box-sizing: border-box;
  padding: 20px;
  background-color: lightcyan;
  margin: 10px;
}

div p {
  display: inline-block;
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  background-color: lightgreen;
  margin: 10px;
  vertical-align: top;
}
div a {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  color: darkslategrey;
  background-color: blanchedalmond;
  padding: 10px;
  margin: 10px;
}